#searchsubmit, 
.styles .post-password-required input[type="submit"],
#respond input#submit {
	background-image: none;
}

body .site {
	padding-left: 0;
	padding-right: 0;
	max-width: 74.285714285rem;
}

#masthead, #main, #colophon {
	padding-left: 2.857142857rem;
	padding-right: 2.857142857rem;
}

